<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Spring security app</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .modal {
      display: none;
      position: fixed;
      z-index: 1050;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .modal-content {
      margin: 10% auto;
      padding: 20px;
      width: 80%;
    }
    .modal:target {
      display: block;
    }
  </style>
</head>
<body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <nav class="navbar navbar-dark bg-dark">
    <h5 class="text-white left">
      <span>
          <strong th:text="${currentUser.email}">Admin</strong>
          <a>with roles</a>
      </span>
      <span th:each="role : ${roles}">
          <a th:text="${#strings.substring(role.name, 5)}"></a>
      </span>
    </h5>
    <a th:href="@{/logout}" class="text-right text-white-50" >Logout</a>
  </nav>
  <div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <ul class="nav flex-column nav-pills row my-3">
        <li class="nav-item">
          <a class="nav-link active px-4" href="http://localhost:8080/admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4" href="http://localhost:8080/user">User</a>
        </li>
      </ul>
    </div>
    <div class="col-xl-10 bg-light px-4">
      <h1 class="my-3">Admin panel</h1>
      <ul class="nav nav-tabs col-12 " id="myTab" role="tabList">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="users-tab" data-toggle="tab" aria-controls="users" href="#users">User table</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="new_user-tab" data-toggle="tab" href="#new_user" aria-controls="new_user">New user</a>
        </li>
      </ul>
      <div class="tab-content border col-12 bg-white">
        <div class="tab-pane show active" id="users" role="tabpanel" aria-labelledby="users-tab">
          <h4 class="row bg-light p-3 mb-2 border-bottom">All users</h4>
          <table class="table bg-white my-4">
            <thead>
            <tr>
              <th>id</th>
              <th>username</th>
              <th>password</th>
              <th>email</th>
              <th>roles</th>
              <th>edit</th>
              <th>delete</th>
            </tr>
            </thead>
            <tbody>
              <tr th:each="lst: ${users}">
                <td th:utext="${lst.id}"></td>
                <td th:utext="${lst.username}"></td>
                <td th:utext="${lst.password}"></td>
                <td th:utext="${lst.email}"></td>
                <td>
                    <span th:each="role :${lst.roles}">
                        <span th:text="${#strings.substring(role.name, 5)}"></span>
                    </span>
                </td>
                <td><a class="btn btn-info" data-toggle="modal" th:href="'#editModal' + ${lst.id}">edit</a></td>
                <td><a class="btn btn-danger" data-toggle="modal" th:href="'#deleteModal' + ${lst.id}">delete</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="new_user" role="tabpanel" aria-labelledby="new_user-tab">
          <h3 class="row p-3 mb-2 border-bottom bg-light">Create new user</h3>
          <br>
          <form th:method="POST" th:action="@{/admin/new_user}" th:object="${user}">
            <div class="container text-center col-3">
              <p class="mb-3">
                <label class="px-5" for="username1"><strong> Enter username</strong></label>
                <br>
                <input class="form-control" type="text" th:field="*{username}" id="username1" required/>
              </p>
              <p class="mb-3">
                <label class="px-5" for="password1"><strong>Enter password</strong></label>
                <br>
                <input class="form-control" type="password" th:field="*{password}" id="password1" required/>
              </p>
              <p class="mb-3">
                <label class="px-5" for="email1"><strong>Enter email</strong></label>
                <br>
                <input class="form-control" type="email" th:field="*{email}" id="email1" required/>
              </p>
              <p class="mb-3">
                <label class="px-4"><strong>Roles</strong></label>
                <br>
                <select th:name="roleNames" class="form-control" multiple>
                  <option th:each="role : ${roles}" th:value="${role.name}"
                          th:text="${#strings.substring(role.name, 5)}"></option>
                </select>
              </p>
              <button type="submit" class="btn btn-success my-3">Add user</button>
              <br>
            </div>
          </form>
        </div>
      </div>
      <footer class="bg-light mt-auto min-vh-100"></footer>
    </div>
  </div>
  </div>
  <div th:each="user : ${users}">
    <div th:id="'editModal' + ${user.id}" class="modal fade" >
      <div class="modal-dialog" role="tabpanel">
        <div class="modal-content container text-center">
          <h3 class="modal-title">Edit user</h3>
          <form th:method="POST" th:action="@{/admin/edit}">
            <input type="hidden" name="id" th:value="${user.id}"/>
            <div class="form-group">
              <label><strong>Enter username</strong></label>
              <input type="text" class="form-control" th:name="username" th:value="${user.username}" required/>
            </div>
            <br>
            <div class="form-group">
              <label><strong>Enter password</strong></label>
              <input type="password" class="form-control" name="password"/>
            </div>
            <br>
            <div class="form-group">
              <label><strong>Enter email</strong></label>
              <input type="email" th:value="${user.email}" name="email" class="form-control" required/>
            </div>
            <br/>
            <div class="form-group mb-3">
              <label for="edit-role" class="form-label">Role</label>
              <select th:name="rolesName" class="form-control" multiple size="2"
                      id="edit-role" required>
                <option th:each="role : ${roles}"
                        th:value="${role.name}"
                        th:text="${#strings.substring(role.getAuthority(), 5)}">
                </option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary my-3">Edit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <br>
          </form>
        </div>
      </div>
    </div>
    <div th:id="'deleteModal' + ${user.id}" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content container text-center">
          <h5>Delete User</h5>
          <p>Are you sure you want to delete this user?</p>
          <div class="form-group">
            <label><strong>ID</strong></label>
            <input type="text" class="form-control" th:value="${user.id}" readonly/>
          </div>
          <div class="form-group">
            <label><strong>Username</strong></label>
            <input type="text" class="form-control" th:value="${user.username}" readonly/>
          </div>
          <div class="form-group">
            <label><strong>Email</strong></label>
            <input type="text" class="form-control" th:value="${user.email}" readonly/>
          </div>
          <div class="form-group">
            <label for="role" class="form-label">Role</label>
            <select class="form-control" size="2" id="role" disabled>
              <option th:each="role : ${user.roles}"
                      th:value="${role.getId()}"
                      th:text="${#strings.substring(role.getAuthority(), 5)}">
              </option>
            </select>
          </div>
          <form th:action="@{/admin/delete}" th:method="POST">
            <input type="hidden" name="id" th:value="${user.id}"/>
            <button type="submit" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>