<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Spring security app</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .modal {
      display: none;
      position: fixed;
      z-index: 1050;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .modal-content {
      margin: 10% auto;
      padding: 20px;
      width: 80%;
    }
    .modal:target {
      display: block;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="/static/allUsers.js" async></script>
  <script src="/static/authUser.js" async></script>
  <script src="/static/addUser.js" async></script>
  <script src="/static/editDeleteUser.js" async></script>
</head>

<body>

<nav class="navbar navbar-dark bg-dark" id="authFields">
    <h5 id="h5curr" class="text-white left">
      <span>
          <strong id="authUsername"></strong>
          <a>with roles</a>
      </span>
      <span id="authUsernameFields"></span>
    </h5>
  <a th:href="@{/logout}" class="text-right text-white-50" >Logout</a>
</nav>
  <div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <ul class="nav flex-column nav-pills row my-3">
        <li class="nav-item">
          <a class="nav-link active px-4" href="#adminPanel">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-4" href="http://localhost:8080/adminUser">User</a>
        </li>
      </ul>
    </div>
    <div id="adminPanel" class="col-xl-10 bg-light px-4">
      <h1 class="my-3">Admin panel</h1>
      <ul class="nav nav-tabs col-12 " id="myTab" role="tabList">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="users-tab" data-toggle="tab" aria-controls="users" href="#users">User table</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="addNewUser" data-toggle="tab" href="#new_user" aria-controls="new_user">New user</a>
        </li>
      </ul>
      <div class="tab-content border col-12 bg-white">
        <div class="tab-pane show active" id="users" role="tabpanel" aria-labelledby="users-tab">
          <h4 class="row bg-light p-3 mb-2 border-bottom">All users</h4>
          <table class="table bg-white my-4" >
            <thead>
            <tr>
              <th>id</th>
              <th>username</th>
              <th>password</th>
              <th>email</th>
              <th>roles</th>
              <th>option</th>
              <th></th>
            </tr>
            </thead>
            <tbody id="table-content"></tbody>
          </table>
        </div>
        <div class="tab-pane" id="new_user" role="tabpanel" aria-labelledby="new_user-tab">
          <h3 class="row p-3 mb-2 border-bottom bg-light">Create new user</h3>
          <br>
          <form id="form-createUser">
            <div class="container text-center col-3">
              <p class="mb-3">
                <label class="px-5" for="usernameNewUser"><strong> Enter username</strong></label>
                <br>
                <input class="form-control" type="text" id="usernameNewUser" name="username" required/>
              </p>
              <p class="mb-3">
                <label class="px-5" for="passwordNewUser"><strong>Enter password</strong></label>
                <br>
                <input class="form-control" type="password" id="passwordNewUser" name="password" required/>
              </p>
              <p class="mb-3">
                <label class="px-5" for="emailNewUser"><strong>Enter email</strong></label>
                <br>
                <input class="form-control" type="email"  id="emailNewUser" name="email" required/>
              </p>
              <p class="mb-3">
                <label class="px-4"><strong>Roles</strong></label>
                <br>
                <select id="rolesNewUser" class="form-control" name="roles" multiple>
                  <option value='1'>ADMIN</option>
                  <option value='2'>USER</option>
                </select>
              </p>
              <button type="submit" class="btn btn-success my-3">Add user</button>
              <br>
            </div>
          </form>
        </div>
      </div>
      <footer class="bg-light mt-auto min-vh-100"></footer>
    </div>
  </div>
  </div>
    <div id="editModal" class="modal fade" >
      <div class="modal-dialog" role="tabpanel">
        <div class="modal-content container text-center">
          <h3 class="modal-title">Edit user</h3>
          <form id="editModalForm">
            <input type="hidden" name="id"/>
            <div class="form-group">
              <label><strong>Enter username</strong></label>
              <input type="text" class="form-control" id="editModalUsername" name="username" required/>
            </div>
            <br>
            <div class="form-group">
              <label><strong>Enter password</strong></label>
              <input type="password" class="form-control" id="editModalPassword" name="password"/>
            </div>
            <br>
            <div class="form-group">
              <label><strong>Enter email</strong></label>
              <input type="email" id="editModalEmail" name="email" class="form-control" required/>
            </div>
            <br/>
            <label for="edit-role" class="form-label"><strong>Role</strong></label>
            <select name="rolesName" class="form-control" multiple size="2"
                    id="edit-role" required>
              <option value="1">ADMIN</option>
              <option value="2">USER</option>
            </select>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Edit</button>
              <button id="editModalCloseBtn" data-dismiss="modal" type="button" class="btn btn-secondary">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="deleteModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content container text-center">
          <h5>Delete User</h5>
          <p>Are you sure you want to delete this user?</p>
          <form id="deleteModalForm">
            <div class="form-group">
              <label><strong>ID</strong></label>
              <input name="idDel" type="text" class="form-control" readonly/>
            </div>
            <div class="form-group">
              <label><strong>Username</strong></label>
              <input name="usernameDel" type="text" class="form-control" readonly/>
            </div>
            <div class="form-group">
              <label><strong>Email</strong></label>
              <input name="emailDel" type="text" class="form-control" readonly/>
            </div>
            <label class="form-label fw-bold"><strong>Role</strong></label>
            <input type="text" name="rolesInDelete"
                   class="form-control" id="deleteModalRoles" readonly/>
            <input type="hidden" name="id"/>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger" >Delete</button>
              <button id="deleteModalCloseBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>