<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring security app</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/static/authUser.js" async></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <h5 class="text-white left">
                <span>
                    <strong id="authUsername">Admin</strong>
                    <a>with roles</a>
                </span>
        <span th:each="role : ${authenticatedUserRoles}">
                    <a th:text="${#strings.substring(role.authority, 5)}"></a>
                </span>
    </h5>
    <a th:href="@{/logout}" class="text-right text-white-50" >Logout</a>
</nav>
<div id="" class="container-fluid">
    <div class="row">
        <div class="col-xl-2 my-3">
            <ul class="nav flex-column nav-pills row">
                <li class="nav-item">
                    <a class="nav-link active px-4" href="#userPanel">User</a>
                </li>
            </ul>
        </div>
        <div id="userPanel" class="col-xl-10 bg-light">
            <h1 class="my-3">User information-page</h1>
            <div class="tab-content col-xl-11 bg-white border">
                <div class="tab-pane show active" role="tabpanel" aria-labelledby="users-tab">
                    <h4 class="row bg-light p-3 mb-2 border-bottom">About user</h4>
                    <table class="table bg-white my-4">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>username</th>
                            <th>password</th>
                            <th>email</th>
                            <th>roles</th>
                        </tr>
                        </thead>
                        <tbody id="user-info"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="bg-light mt-auto min-vh-100"></footer>
    </div>
</div>
</body>
</html>